<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>

    
    <link href="/static/css/home.css" rel="stylesheet" />
    <script>
        
function openPopup(url) {
    window.open(url, '구글 로그인', 'width=600,height=600');
}

function closePopupAndReload() {
    window.opener.location.reload();
    window.close();
}

</script>
</head>
<body>
    <!-- <h1>Welcome to the Main Page</h1>
    {{ event_info }}
    {{ cashitem_info }}
    {{ ranking_info }}
-->
    {% comment %} <div style="text-align: center;">
        <button onclick="openPopup({% url 'google_login' %})">구글로 로그인</button>
    </div>  {% endcomment %}

    <!-- 캐릭터 검색 창 수정 -->
    <!-- <div id="background" class="d-flex justify-content-center align-items-center vh-100">
        <div id="container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input
                    id="input"
                    type="text"
                    name="character_name"
                    placeholder=" 캐릭터 이름을 입력하세요"
                />
                <button type="submit">
                </button>
            </form>
        </div>
    </div> -->
          <!-- 상단바 -->
  <header class="navbar">
    <a href="/">
        <img src="/static/image/m_logo.png" alt="Logo" class="logo-image">
    </a>
    <div class="navbar-search">
        <div class="search-container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input id="input" name="character_name" type="text" placeholder="캐릭터닉네임" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/static/image/돋보기.png" alt="Search" class="search-icon">
                </button>
            </form>
        </div>
    </div>
  </header>
  <div class="second-navbar"> 
    <ul class="navbar-menu"> 
        <li class="nav-link active"><a href="{% url 'main_home' %}">홈</a></li> 
        <li><a href="{% url 'chatbot' %}">CHAT BOT</a></li> 
        <li><a href="/">캐릭터검색</a></li> 
        <li><a href="#contact">랭킹</a></li> 
        {% if is_authenticated %}
        <li class="logout">
            <form method="post" action="{% url 'google_logout' %}">
                {% csrf_token %}
                <a href="#" class="toggle-button">내정보</a>
                <a href="#" onclick="this.closest('form').submit(); return false;">
                    <button class="logout-button" type="button">로그아웃</button>
                </a>
            </form>
        </li>
    {% else %}
        <li class="login">
            <form method="post" action="{% url 'google_login' %}">
                {% csrf_token %}
                <a href="#" onclick="this.closest('form').submit(); return false;">
                    <button type="button">로그인</button>
                </a>
            </form>
        </li>
    {% endif %}
    </ul> 
</div>
<main>
  <div id="left-box">
</div>

  <div id="main-box">
  
    <div class="title-box">
        <div class="child-box">
            메이플 스토리
        </div>
        <div class="child-box">
            정보탐색 CHAT BOT
        </div>
    </div>
    <div id="main-box1">
        <div id="chat-input">
            <form action="{% url 'chatbot' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="message" id="message" placeholder="메이플에 관해서 궁금한게 있나요? 정령에게 메세지를 보내보세요!" autocomplete="off">
                <button type="submit" id="send">
                    <img src="/static/image/말풍선.png" alt="전송" />
                </button>
            </form>
        </div>
        <div id="main-box2">
            <div id="recomend-search">
                <div class="row">
                    <img src="/static/image/말풍선.png">
                    <div class='text'>메르세데스 4차 스킬트리 알려줘</div>
                </div>
                <div class="row">
                    <img src="/static/image/말풍선.png">
                    <div class='text'>180렙 신궁 사냥터 추천해줘.</div>
                </div>                
                <div class="row">
                    <img src="/static/image/말풍선.png">
                    <div class='text'>뇌전 드랍장소 알려줘.</div>
                </div>
                <div class="row">
                    <img src="/static/image/말풍선.png">
                    <div class='text'>핑크색 치장 아이템 추천해줘.</div>
                </div>
            </div>
            
            <div id="main_center_img">
                <img src="/static/image/main_center_img.png" alt="Sample Image">
            </div>
        </div>
    </div>
    <div id="main-box3">
        <div id="event" class="box">
            <div id='title'>Event</div>
            <div class="slider-container">
                <div class="slider">
                    {% if event_info.event_notice %}
                        {% for event in event_info.event_notice %}
                            <div class="slider-item">
                                <p class="event-date-container">
                                    <img src="{{ event.image_url }}">
                                    <div class="event-title"><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></div> <!-- h5 태그 닫기 오류 수정 -->
                                    <img src="/static/image/calendar.png" alt="이벤트 기간 이미지" class="event-date-image">
                                    <span class="event-date-text">
                                        {% with event.date_event_start|date:"Y-m-d" as start_date %}
                                            {% with event.date_event_end|date:"Y-m-d" as end_date %}
                                                {% if start_date == end_date %}
                                                    {{ start_date }}
                                                {% else %}
                                                    {{ start_date }} ~ {{ end_date }}
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    </span>
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="slider-item">
                            <p>등록된 이벤트 공지가 없습니다.</p>
                        </div>
                    {% endif %}
                </div>
                <!-- 옆으로 넘기는 버튼 -->
                <button class="prev event-prev" onclick="moveSlide(-1, 'event-slider')">
                    <img src="/static/image/Polygon1.png" alt="Previous" class="slider-arrow">
                </button>
                <button class="next event-next" onclick="moveSlide(1, 'event-slider')">
                    <img src="/static/image/Polygon2.png" alt="Next" class="slider-arrow">
                </button>
             </div>
            
        </div>

            <div id="cashshop" class="box">
                <div id='title'>Cash Shop</div>
                <div class="slider-container">
                    <div class="slider cashshop-slider">
                        {% if cashshop_info.cashshop_notice %}
                            {% for cashshop in cashshop_info.cashshop_notice %}
                                <div class="slider-item">
                                    <p class="event-date-container">
                                        <img class="cashshop-img" src="{{ cashshop.image_url }}">
                                        <div class="event-title"><a href="{{ cashshop.url }}" target="_blank">{{ cashshop.title }}</a></div>
                                        <img src="/static/image/calendar.png" alt="이벤트 기간 이미지" class="event-date-image">
                                        <span class="event-date-text">
                                            {% with cashshop.date_sale_start as start_date %}
                                                {% with cashshop.date_sale_end as end_date %}
                                                    {% if start_date == end_date %}
                                                        {{ start_date }}
                                                    {% else %}
                                                        {{ start_date }} ~ {{ end_date }}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        </span>
                                    </p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="slider-item">
                                <p>등록된 캐시샵 공지가 없습니다.</p>
                            </div>
                        {% endif %}
                    </div>
                    <!-- 옆으로 넘기는 버튼 (캐시샵 영역) -->
                    <button class="prev prev-cashshop" onclick="moveCashshopSlide(-1)">
                        <img src="/static/image/Polygon1.png" alt="Previous" class="slider-arrow">
                    </button>
                    <button class="next next-cashshop" onclick="moveCashshopSlide(1)">
                        <img src="/static/image/Polygon2.png" alt="Next" class="slider-arrow">
                    </button>
</div>
    </div>
        <div id="rank_total" class="box">
            {{ ranking_info }}
        </div>
        <div id="rank_final_stats" class="box"></div>
    </div>
</div>
    <div id="right-box">
    <!-- Right Box Content -->
    </div>
</main>
    <script src="/static/js/home.js"></script>
</body>


</html>