<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <script>
        function openPopup(url) {
            window.open(url, '구글 로그인', 'width=600,height=600');
        }

        function closePopupAndReload() {
            window.opener.location.reload();
            window.close();
        }
    </script>
    
    <link href="/static/css/home.css" rel="stylesheet" />
</head>
<body>
    <!-- <h1>Welcome to the Main Page</h1>
    {{ event_info }}
    {{ cashitem_info }}
    {{ ranking_info }}

    <div style="text-align: center;">
        <button onclick="openPopup({% url 'google_login' %})">구글로 로그인</button>
    </div> -->

    <!-- 캐릭터 검색 창 수정 -->
    <!-- <div id="background" class="d-flex justify-content-center align-items-center vh-100">
        <div id="container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input
                    id="input"
                    type="text"
                    name="character_name"
                    placeholder=" 캐릭터 이름을 입력하세요"
                />
                <button type="submit">
                </button>
            </form>
        </div>
    </div> -->
          <!-- 상단바 -->
  <header class="navbar">
    <a href="/">
        <img src="/static/image/m_logo.png" alt="Logo" class="logo-image">
    </a>
    <div class="navbar-search">
        <div class="search-container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input id="input" name="character_name" type="text" placeholder="캐릭터닉네임" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/static/image/돋보기.png" alt="Search" class="search-icon">
                </button>
            </form>
        </div>
    </form>
    </div>
  </div>
  </header>
<main>
  <div id="left-box">
</div>

  <div id="main-box">
    <!-- 사이드바 -->
    <div id="overlay" onclick="toggleSidebar()"></div>

    <!-- 사이드바 -->
    <div id="sidebar" class="hidden">
        <ul class="sidebar-menu">
            <!-- 구글 로그인 -->
            <li>
                <form method="post" action="{% url 'google_login' %}">
                    {% csrf_token %}
                    <button type="submit">로그인</button>
                </form>
            </li>
            <li><a href="#">캐릭터검색</a></li>
            <li><a href="#">길드검색</a></li>
            <li><a href="#">랭킹</a></li>
            <li><a href="#">아이템검색</a></li>
        </ul>
    </div>
    <!-- 사이드바 토글 버튼 -->
    <button id="sidebar-toggle" onclick="toggleSidebar()">
        <img src="/static/image/side_bar.png" alt="Toggle Sidebar" id="toggle-image">
    </button>

    <div class="title-box">
        <div class="child-box">
            메이플 스토리
        </div>
        <div class="child-box">
            정보탐색 CHAT BOT
        </div>
    </div>
    <div id="main-box1">
        <div id="chat-input">
            <input type="text" id="message" placeholder="메이플에 관해서 궁금한게 있나요? 정령에게 메세지를 보내보세요!" autocomplete="off">
            <button id="send">
                <img src="/static/image/말풍선.png" alt="전송" />
            </button>
        </div>
        <div id="main-box2">
            <div id="recomend-search">

            </div>
            <div id="main_center_img">
                <img src="/static/image/main_center_img.png" alt="Sample Image">
            </div>
        </div>
    </div>
    <div id="main-box3">
        <div id="event" class="box">
            {{ event_info }}
        </div>
        <div id="cash_shop" class="box">
            {{ cashitem_info }}
        </div>
        <div id="rank_total" class="box">
            {{ ranking_info }}
        </div>
        <div id="rank_final_stats" class="box"></div>
    </div>
</div>
    <div id="right-box">
    <!-- Right Box Content -->
    </div>
</main>
    <script src="/static/js/home.js"></script>
</body>


</html>