<!DOCTYPE html>

<html lang="ko">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character_info.basic_info.character_name }}의 정보</title>
    <link href="/static/css/info.css" rel="stylesheet" />
</head>

<body>
   
    <!-- 상단바 -->
<header class="navbar">
    <a href="/">
        <img src="/static/image/m_logo.png" alt="Logo" class="logo-image">
    </a>
    <div class="navbar-search">
        <div class="search-container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input id="input" name="character_name" type="text" placeholder="캐릭터닉네임" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/static/image/돋보기.png" alt="Search" class="search-icon">
                </button>
            </form>
        </div>
    </div>
  </header>

<main>

<div id="left-box">
</div>
<div id="main-box">
    <!-- 사이드바 -->
    <div id="overlay" onclick="toggleSidebar()"></div>

    <!-- 사이드바 -->
    <div id="sidebar" class="hidden">
        <ul class="sidebar-menu">
            <li><a href="#">CHAT BOT</a></li>
            <li><a href="#">캐릭터검색</a></li>
            <li><a href="#">길드검색</a></li>
            <li><a href="#">랭킹</a></li>
            <li><a href="#">아이템검색</a></li>
        </ul>
    </div>
    <!-- 사이드바 토글 버튼 -->
    <button id="sidebar-toggle" onclick="toggleSidebar()">
        <img src="/static/image/side_bar.png" alt="Toggle Sidebar" id="toggle-image">
    </button>
<div class="wrapper">

<div class="basic">
  <div class="title">캐릭터</div>
  <div class="character-img">
    <img  class="character-image" src="{{ character_info.basic_info.character_image|default:'정보 없음' }}" alt="Character Image">
                                
  </div>
  <div class="basic-info">
      <span>{{ character_name }}</span>

  </div>
</div>

<div class="two"></div>

<div class="ability">Ability</div>

<div class="final_stat">
  <div class="title">스탯</div>
  <div class="stat-container">
    <div class="stat-box"></div>
    <div class="stat-box">Row 2</div>
    <div class="stat-box">Row 3</div>
    <div class="stat-box">Row 4</div>
    <div class="stat-box">Row 5</div>
  </div>
</div>

<div class="equipment">
  <div class="title">장비창</div>
  <div class="equipment-container"></div>
</div>

<div class="cash">
  <div class="title">캐시</div>
  <div class="cash-container"></div>
</div>
