<!DOCTYPE html>

<html lang="ko">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character_info.basic_info.character_name }}의 정보</title>
    <link href="/static/css/info.css" rel="stylesheet" />
</head>

<body>
   
    <!-- 상단바 -->
    <header class="navbar">
      <a href="/">
          <img src="/static/image/m_logo.png" alt="Logo" class="logo-image">
      </a>
      <div class="navbar-search">
          <div class="search-container">
              <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                  <input id="input" name="character_name" type="text" placeholder="캐릭터닉네임" class="search-input">
                  <button type="submit" class="search-button">
                      <img src="/static/image/돋보기.png" alt="Search" class="search-icon">
                  </button>
              </form>
          </div>
      </div>
    </header>
    <div class="second-navbar"> 
      <ul class="navbar-menu"> 
          <li class="nav-link active"><a href="{% url 'main_home' %}">홈</a></li> 
          <li><a href="{% url 'chatbot' %}">CHAT BOT</a></li> 
          <li><a href="/">캐릭터검색</a></li> 
          <li><a href="#contact">랭킹</a></li> 
          {% if is_authenticated %}
          <li class="logout">
              <form method="post" action="{% url 'google_logout' %}">
                  {% csrf_token %}
                  <a href="#" class="toggle-button">내정보</a>
                  <a href="#" onclick="this.closest('form').submit(); return false;">
                      <button class="logout-button" type="button">로그아웃</button>
                  </a>
              </form>
          </li>
      {% else %}
          <li class="login">
              <form method="post" action="{% url 'google_login' %}">
                  {% csrf_token %}
                  <a href="#" onclick="this.closest('form').submit(); return false;">
                      <button type="button">로그인</button>
                  </a>
              </form>
          </li>
      {% endif %}
      </ul> 
  </div>
<main>

<div id="left-box">
</div>
<div id="main-box">
   
<div class="wrapper">

<div class="basic">
  <div class="title">캐릭터</div>
  <div class="character-img">
    <img  class="character-image" src="{{ character_info.basic_info.character_image|default:'정보 없음' }}" alt="Character Image">
                                
  </div>
  <div class="basic-info">
      <span>{{ character_name }}</span>
      <span>{{ character_level }}</span>
      <span>{{ character_class }}</span>

  </div>
</div>

<div class="two"></div>

<div class="ability">Ability</div>

<div class="final_stat">
  <div class="title">스탯</div>
  <div class="stat-container">
    <div class="stat-box"></div>
    <div class="stat-box">Row 2</div>
    <div class="stat-box">Row 3</div>
    <div class="stat-box">Row 4</div>
    <div class="stat-box">Row 5</div>
  </div>
</div>

<div class="equipment">
  <div class="title">장비창</div>
  <div class="equipment-container"></div>
</div>

<div class="cash">
  <div class="title">캐시</div>
  <div class="cash-container"></div>
</div>
