<!DOCTYPE html>

<html lang="ko">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character_info.basic_info.character_name }}의 정보</title>
    <link href="/static/css/info.css" rel="stylesheet" />
</head>

<body>
   
    <!-- 상단바 -->
<header class="navbar">
    <a href="/">
        <img src="/static/image/m_logo.png" alt="Logo" class="logo-image">
    </a>
    <div class="navbar-search">
        <div class="search-container">
            <form action="{% url 'character_info:info' character_name='dummy' %}" method="GET">
                <input id="input" name="character_name" type="text" placeholder="캐릭터닉네임" class="search-input">
                <button type="submit" class="search-button">
                    <img src="/static/image/돋보기.png" alt="Search" class="search-icon">
                </button>
            </form>
        </div>
    </div>
  </header>

<main>

<div id="left-box">
</div>
<div id="main-box">
    <!-- 사이드바 -->
    <div id="overlay" onclick="toggleSidebar()"></div>

    <!-- 사이드바 -->
    <div id="sidebar" class="hidden">
        <ul class="sidebar-menu">
            <li><a href="#">CHAT BOT</a></li>
            <li><a href="#">캐릭터검색</a></li>
            <li><a href="#">길드검색</a></li>
            <li><a href="#">랭킹</a></li>
            <li><a href="#">아이템검색</a></li>
        </ul>
    </div>
    <!-- 사이드바 토글 버튼 -->
    <button id="sidebar-toggle" onclick="toggleSidebar()">
        <img src="/static/image/side_bar.png" alt="Toggle Sidebar" id="toggle-image">
    </button>
<div class="wrapper">

<div class="basic">
  <div class="title">캐릭터</div>
  <div class="character-img">
    <img  class="character-image" src="{{ character_info.basic_info.character_image|default:'정보 없음' }}" alt="Character Image">
                                
  </div>
  <div class="basic-info">
      <span>{{ character_name }}</span>

      <span> Lv.{{ character_info.basic_info.character_level|default:"정보 없음" }}</span>

      <span>{{ basic_info.character_class|default:"정보 없음" }}</span>

      <span>{{ basic_info.world_name|default:"정보 없음" }}</span>
  </div>
</div>

<div class="two"></div>

<div class="ability">Ability</div>

<div class="final_stat">
  <div class="title">스탯</div>
  <div class="stat-container">
    <div class="stat-box"></div>
    <div class="stat-box">Row 2</div>
    <div class="stat-box">Row 3</div>
    <div class="stat-box">Row 4</div>
    <div class="stat-box">Row 5</div>
  </div>
</div>

<div class="equipment">
  <div class="title">장비창</div>
  <div class="equipment-container"></div>
</div>

<div class="cash">
  <div class="title">캐시</div>
  <div class="cash-container"></div>
</div>

<section>
    <h2>최종 스탯</h2>
    <ul>
        {% for stat, value in final_stats.items %}
            <li>{{ stat }}: {{ value }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>장비</h2>
    <ul>
        {% for item in equipment_data %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>어빌리티</h2>
    <ul>
        {% for ability in ability_data %}
            <li>{{ ability }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>세트 효과</h2>
    <ul>
        {% for effect in set_effect_data %}
            <li>{{ effect }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>링크 스킬</h2>
    <ul>
        {% for skill in link_skill_data %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>헥사 스탯</h2>
    <ul>
        {% for stat in hexa_stats %}
            <li>{{ stat }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>헥사</h2>
    <ul>
        {% for hexa in hexa_data %}
            <li>{{ hexa }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>심볼</h2>
    <ul>
        {% for symbol in symbol_data %}
            <li>{{ symbol }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>V 매트릭스</h2>
    <ul>
        {% for vmatrix in vmatrix_data %}
            <li>{{ vmatrix }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>캐릭터 스킬</h2>
    <ul>
        {% for skill in character_skill_data %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>캐시 아이템</h2>
    <ul>
        {% for item in cash_item_data %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>안드로이드</h2>
    <ul>
        {% for android in android_data %}
            <li>{{ android }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>펫</h2>
    <ul>
        {% for pet in pet_data %}
            <li>{{ pet }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>뷰티</h2>
    <ul>
        {% for beauty in beauty_data %}
            <li>{{ beauty }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>하이퍼 스탯</h2>
    <ul>
        {% for stat in hyper_stat_data %}
            <li>{{ stat }}</li>
        {% endfor %}
    </ul>
</section>

</div>

</div>
<div id="right-box">
<!-- Right Box Content -->
</div>
</main>
<script src="/static/js/info.js"></script>
</body>

</html>